@font-face {
    font-family: Raleway;
    src: url(font/raleway);
}

h1, h2, h3, h4, h5, h6, p, a{
    font-family: raleway;
}
.navbar{
    padding: 0%;
    width: 98%;
    height: 80px;
    margin-left: 10px;
    align-content: center;
    margin; 0px 30px 0px 20px;
    display: flex;
    justify-content : space-between;
    align-items : center;
    border: 2px solid grey;

    
}

a {
    text-decoration: none;
}
.navbar img{
    text-align: left;
    width: 100px;
    margin-top: 5px;
    border: 2px solid blue;
    
}

.headerlogo{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border: 2px solid blue;
    margin: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}


.headermenu{ 
    
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    padding: 0%;
    text-align: center;
    
    
}


.headermenu a{
    color: #5b5c5e;
    
    
    
}

.headermenu a:hover{
    color: #0065FC;
    
    
}

.navbarlink:hover{
    border-top: 2px solid #0065FC;
}
.navbarlink {
    margin-right: 20px;
    box-sizing: border-box;
    height: 100%;
    padding: 0px 15px 0px 15px;
    display: flex;
    align-items: center;
}

.navbarlink a{
    
    
}

@media screen and (max-width: 768px) {
    .headermenu a:hover{
        
    }
    .navbarlink:hover{
        border-bottom: 2px solid #0065FC;
        border-top: 0px;
    }

    .navbarlink{
        width: 50%;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .headerlogo {
        height: 50%;
        display: flex;
        justify-content: center;
    }

    .navbar img{
        margin: 0%;
    }

    .headermenu {
        height: 50%;
        display: flex;
        justify-content: space-around;
    }
}
h1 {
    color: red;
    
}